template(name="appointment")
    .fixed-action-btn.action-title
        h6.white-text ADD EVENT
    .fixed-action-btn.action-button
        a.btn-floating.btn-large.red.darken-2
            i.large.mdi-content-add.modal-trigger(href="#appointment_modal")

    +appointment_modal

// TODO: Modals, tooltips
//
template(name="appointment_modal")
    #appointment_modal.modal.bottom-sheet
        .modal-content.center
            h4.pink-text Add event
            p Coming soon
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
