template(name="footer")
    footer#footer
        footer.page-footer.pink
            #footer.container.section
                .row
                    each footer
                        +footer_top
                        +footer_bottom
                        +footer_disclaimer

template(name="footer_top")
    .col.s3
        h1.white-text
            i.mdi-maps-place
    .col.s9
        .white-text
            h5= title
            p.text-lighten= text


//
template(name="footer_bottom")
    .col.s12
        .footer-copyright.pink.darken-2
            .container
                | &copy; 2015 ViPer. &nbsp; All rights reserved. &nbsp;
                a.modal-trigger.text-lighten-3.yellow-text(href="#footer-disclaimer") Disclaimer


