$color_nav: #4dd0e1;

nav {
  .brand-logo {
    color: $color_nav;
  }
  ul a {
    color: $color_nav;
    font-weight: 500;
    letter-spacing: 2px;
  }
}


#sign-out {
  position: fixed;
  right: 10px;
}


@media only screen and(min-width : 992px) {
  .logo-name {
    display: none;
  }
}
