// TODO: SASS
////////////////////////

@import "lib/colors.scss";


// TODO: global material variables
$color_theme: #fff0f5;
$color_banner: $white_90;
$color_sticky_icon: $white_90;

body {
  background-color: $color_theme;
}

.btn-edit {
  right: -2em;
}

#intro, {padding-top: 4rem;}


input, textarea {
  border-bottom: 1px solid #fff;
}


.delete-item {
  cursor: pointer;
}

.remove-item {
  cursor: pointer;
  &:hover {
    text-shadow: 0 0 5px #e2e2e2;
  }
  &:active {
    text-shadow: 0 0 1px #e2e2e2;
  }
}


.parallax-container {
  min-height: 380px;
  max-height: 400px;

  line-height: 0;
  height: auto;
  color: $color_banner;

  .section {
    width: 100%;
  }
}


// MEDIA QUERIES


// TODO:
//@media #{$small-and-down} {
//  // styles for small screens and down //
//}
//@media #{$medium-and-up} {
//  // styles for medium screens and larger //
//}
//@media #{$large-and-up} {
//  // styles for large screens and up //
//}



