template(name="locations")
    each locations
        .section
            #locations.container.section.scrollspy
                .row.center
                    +locations_title_container


//
template(name="locations_title_container")
    +locations_title

//
template(name="locations_title")
    h5.header.col.s12.pink(name="title")!= title

