//
template(name="events_modal")
    .modal.modal-fixed-footer(id="modal-#{_id}")
        .modal-content.center
            +events_modal_title_container
            +events_modal_text_container
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Close
//
template(name="events_modal_title_container")
    +events_modal_title
//
template(name="events_modal_title")
    h4.black-text(name="title")!= title
//
template(name="events_modal_text_container")
    +events_modal_text
//
template(name="events_modal_text")
    p(name="text")!= text