template(name="locations")
    each locations
        #locations.section
            .row.center
                +locations_title_container
                +map


//
template(name="locations_title_container")
    +locations_title

//
template(name="locations_title")
    h2.header.col.s12.pink.white-text(name="title")!= title

//
template(name="map")
    .map-container
        +googleMap(name="swedenMap" options=swedenMapOptions)