template(name="intro")
   #about.section.scrollspy
      .container
         .row
            .col.s12
               each intro
                  +intro_top
            ul.scrollfire.icons
               each intro
                  +intro_bottom

//
template(name="intro_top")
   +intro_title

//
template(name="intro_title")
   if mdTitle
      h2.center.intro-text(name="mdTitle")
         +markdown
            #{mdTitle}

//
template(name="intro_bottom")
   li
      .col.s12.m4
         .center.promo
            +intro_icon_container
            +intro_text_container

//
template(name="intro_icon_container")
   +intro_icon

template(name="intro_icon")
   if icon
      h2.center.pink-text
         i.intro-icon(class="#{icon}" name="icon")

//
template(name="intro_text_container")
   +intro_text

//
template(name="intro_text")
   div(name="mdText")
      +markdown
         #{mdText}
